*, *::after, *::before {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

/* Variables
============================= */

:root {
  --color-pink: #C271FF;
  --background: #071629;
}

/* Logo
============================= */

.smile_white {
  height: 29.46px;
  width: 37.88px;
}

.smile_school {
  height: 29.46px;
  width: 112.93px;
}

/* Body
============================= */

body {
  font-family: "Source Sans Pro", sans-serif !important;
  max-width: 1448px;
  margin: 0 auto !important;
}

body::-webkit-scrollbar {
  display: none;
}

/* Background Image
============================= */

.bg1 {
  background-image: url(images/pic_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1448.15px;
  min-height: 1093px;
}

button {
  width: 162px;
  height: 44px;
  flex-shrink: 0;
  background: var(--color-pink) !important;
}

button:hover {
  opacity: 0.9;
}

/* Header
============================= */

.head_box {
  max-width: 1103px;
  padding-top: 35px !important;
  margin-bottom: 155px !important;
  margin-right: 11.81% !important;
  margin-left: 11.81% !important;
}

.nav_box {
  max-width: 233px !important;
}

header a {
  font-size: 12px;
}

/* Banner
============================= */

.banner h1 {
  font-size: 120px;
}

.pros_box {
  max-width: 150px !important;
}

.ph3 {
  font-size: 18px;
  font-weight: 900;
  line-height: 27px;
}

.pros p {
  font-size: 16px;
  line-height: 24px;
}

.pros {
  width: 150px;
}

/* Quote
============================= */

.quote {
  background-color: var(--color-pink);
  min-height: 392px;
}

.quote_container {
  max-width: 1067.7px;
  margin-left: 11.36% !important;
  margin-right: 11.36% !important;
}

.pros_pink {
  width: 160px;
  margin-top: 110px !important;
}

blockquote {
  margin-top: 110px !important;
  font-size: 22px;
  font-weight: 400;
  line-height: 33.6px;
}

cite {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
}

.occupation {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 33.6px
}

.wal, .war {
  height: 62.67px;
  width: 29.045px;
  flex-shrink: 0;
}

.q_next, .q_prev {
  margin-top: 156.51px !important;
}

/* Membership
============================= */

.membership {
  background-color: var(--background);
}

.membership span {
  color: var(--color-pink);
  font-size: 32px;
  font-weight: 700;
}

.membership h1 {
  padding-top: 70px !important;
  margin-bottom: 58px !important;
  font-size: 32px;
  font-weight: 300;
}

.mem_container {
  width: 1112px;
  height: 153px;
  margin-bottom: 85px !important;
  /* flex-wrap: nowrap; */
}

.mem_box {
  width: 257px;
  height: 153px;
}

.smile_purple {
  width: 45px;
  height: 36px;
  flex-shrink: 0;
  margin-left: 41.25% !important;
  margin-right: 41.25% !important;
}

.membership h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.membership p {
  max-width: 215px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

/* Latest Videos
============================= */

.latest_videos h1, h2, p {
  color: var(--background);
}

.latest_videos span, h3, #time {
  color: var(--color-pink);
}

.latest_videos h1 {
  font-size: 32px;
  font-weight: 300;

}

.latest_videos span {
  font-weight: 700;
}

.latest_videos h2 {
  font-size: 16px;
  font-weight: 700;
}

.latest_videos h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
}

.latest_videos p {
  color: rgba(7, 22, 41, 0.50);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.latest_videos #time {
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
}

.latest_videos .container {
  margin-top: 87px !important;
  margin-bottom: 87px !important;
  max-width: 1110px;
}

.card {
  margin-top: 75PX !important;
  width: 255px !important;
  height: 335px !important;
  flex-shrink: 0;
}
.play-img {
  height: 64px !important;
  width: 64px !important;
  margin-top: 45px !important;
}

.small_pro {
  width: 30px;
}

.star {
  width: 15px;
}

.reviewer {
  width: 129px;
}

/* Footer
============================= */

footer {
  background-color: var(--background);
}

.logo_box {
  padding-top: 95px !important;
  margin-bottom: 70px !important;
}

footer p{
  opacity: 0.3517;
}

/* Tablet
============================= */

@media (max-width: 768px) {

  body {
    max-width: 768px !important;
  }

  blockquote {
    margin-top: 75px !important;
  }

  /* Header
============================= */

.head_box {
  margin-right: 5% !important;
  margin-left: 5% !important;
}

  /* Tablet Membership
============================= */

  .mem_container {
    width: 568px;
    height: 364px;
    /* flex-wrap: wrap; */
  }

  /* Tablet Carousel
============================= */

  .t_carousel {
    max-width: 692px !important;
  }

  .bal, .bar {
    height: 62.67px;
    width: 29.045px;
    flex-shrink: 0;
  }

  .c_next, .c_prev {
    margin-top: 200.51px !important;
  }

  /* Tablet Footer
============================= */

  .logo_box {
    padding-top: 110px !important;
    margin-bottom: 59px !important;
  }
}

/* Mobile
============================= */

@media (max-width: 576px) {

  body {
    max-width: 576px !important;
  }

  /* Quote
============================= */

  .quote_container {
    max-width: 346px;
    margin-left: 4% !important;
    margin-right: 4% !important;
  }

  .pros_pink {
    margin-right: 0 !important;
  }

  blockquote {
    margin-top: 24px !important;
  }

  /* Membership
============================= */

  .mem_container {
    width: 257px;
    height: 759px;
  }

  /* Quote carousel
============================= */

  .q_next, .q_prev {
    margin-top: 156.51px !important;
  }

  /* Mobile carousel
============================= */

  .t_carousel {
    max-width: 348px !important;
  }

  /* Mobile Footer
============================= */

  .logo_box {
    padding-top: 50px !important;
  }

  .logo, .socials {
    text-align: center;
  }

  .socials {
    margin-top: 45px !important;
  }
}