*, *::before, *::after {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

body {
  font-family: "Source Sans Pro", "Coiny"!important;
  max-width: 1448px;
  margin: 0 auto !important;
}


/* Variables
============================= */

:root {
  --color-pink: #C271FF;
}


.bg1 {
  background-image: url(images/pic_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1448.15px;
  min-height: 1093px;
}

/* Header
============================= */

.courses, .pricing, .login {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

header {
  padding-top: 35.02px !important;
}

header img {
flex-shrink: 0;
}

.smile_white {
  height: 29.46px;
  width: 37.88px;
}

.smile_school {
  height: 29.46px;
  width: 112.93px;
}

.logo {
  width: 167px;
}

.nav_box {
  width: 234px;
}

/* Banner_Section
============================= */

.banner h1 {
  font-size: 120px;
  height: 151px; 
  margin-top: 155.52px !important;
  margin-bottom: -10px !important;
}

.p_box {
  max-width: 253px;
  margin-bottom: 38px !important;
}

button {
  background: var(--color-pink) !important;
  min-width: 162px;
  height: 44px;
  flex-shrink: 0;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  margin-bottom: 168px !important;
}

button:hover{
  opacity: 0.9;
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 87.2px !important;
}

span {
  color: var(--color-pink);
  font-size: 32px;
}

.banner h3 {
font-size: 18px;
line-height: 27px;
}

.banner p {
  font-weight: 400;
  line-height: 24px;
}

.banner img {
  height: 150px;
  width: 150px;
}

.pros {
  max-width: 150px;
}
